// ┏┓╻+╻ ╱┏┳┓┏┓┏┳┓┏┓╻
// ┃┃┃┃┗━┓╹┃╹┣┫┃┃┃┣┫┃   Read the manpage:
// ╹┗┛╹╱ ╹ ╹ ╹╹╹ ╹╹╹┗┛  $ man nixtamal-manifest
version "0.1.1"
inputs {
	nixpkgs {
		archive {
			url "https://github.com/NixOS/nixpkgs/archive/{{cmd_value}}.tar.gz"
		}
		hash algorithm=SHA256
		latest-cmd {
			$ git ls-remote "https://github.com/NixOS/nixpkgs.git" --branches nixpkgs-unstable
			| cut -f1
		}
	}
	dash-nix {
		darcs {
			repository "https://darcs.toastal.in.th/dash-nix"
			mirrors "https://smeder.ee/~toastal/dash-nix.darcs"
			"https://hub.darcs.net/toastal/darcs-nix"
		}
		latest-cmd {
			$ curl -fsL "https://darcs.toastal.in.th/dash-nix/_darcs/weak_hash"
		}
	}
}

