// ┏┓╻+╻ ╱┏┳┓┏┓┏┳┓┏┓╻
// ┃┃┃┃┗━┓╹┃╹┣┫┃┃┃┣┫┃   Read the manpage:
// ╹┗┛╹╱ ╹ ╹ ╹╹╹ ╹╹╹┗┛  $ man nixtamal-manifest
version "0.1.0"
inputs {
	nixpkgs {
		archive {
			url "https://github.com/NixOS/nixpkgs/archive/{{cmd_value}}.tar.gz"
		}
		hash algorithm=SHA256
		latest-cmd {
			$ git ls-remote "https://github.com/NixOS/nixpkgs.git" --branches nixpkgs-unstable
			| cut -f1
		}
	}
}
